.app-body {
  overflow-x: unset;
}

.card.card-fullscreen {
  z-index: 6;
}

.card.warnings-card, .card.errors-card {
  text-transform: capitalize;
}

.card.warnings-card .card-options a, .card.errors-card .card-options a {
  cursor: pointer;
}

.text-wrap {
  word-wrap: break-word;
}

.relative {
  position: relative;
}

.overflow-auto {
  overflow: auto;
}

.react-json-view {
  border-radius: .25rem;
}

.collapsable:hover {
  cursor: pointer;
}

.contractFunction {
  margin-bottom: 0px;
}

.debugButton {
  width: 28px;
  height: 24px;
}

.jumpBack {
  background-position: 0px 48px;
  background-image: url(images/icons.png);
}

.jumpForward {
  background-position: -28px 48px;
  background-image: url(images/icons.png);
}

.stepOverBack {
  transform: scaleX(-1);
  background-position: -56px 24px;
  background-image: url(images/icons.png);
}

.stepOverForward {
  background-position: -56px 24px;
  background-image: url(images/icons.png);
}

.stepIntoForward {
  background-position: 0px 24px;
  background-image: url(images/icons.png);
}

.stepIntoBack {
  background-position: -28px 24px;
  background-image: url(images/icons.png);
}

.stop {
  background-position: -196px 48px;
  background-image: url(images/icons.png);
}

.no-underline {
  text-decoration: none;
}


.dark-theme .modal-header span {
  color: #ffffff;
}

.pointer {
  cursor: pointer;
}
