.DS_Store
.idea
.nyc_output
.tsconfig.collective.json
.vscode
@embark*.tgz
NOTES
TODO
coverage
dist
embark*.tgz
lerna-debug.log
node_modules
npm-debug.log*
npm-shrinkwrap.json
package
package-lock.json
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
yarn.lock
!/yarn.lock
