node_modules
TODO
NOTES
.node-xmlhttprequest-sync-*
templates/demo/dist/
templates/demo/.embark/development/
templates/demo/config/production/password
templates/demo/node_modules/
templates/boilerplate/dist/
docs/_build
docs/utils/__pycache_
test/cli_shim/.cid
test_apps/test_app/dist/
test_apps/test_app/.embark/development/
test_apps/test_app/config/production/password
test_apps/test_app/node_modules/
test_apps/test_app/chains.json
test_apps/contracts_app/build/
test_apps/contracts_app/.embark/development/
test_apps/contracts_app/config/production/password
test_apps/contracts_app/node_modules/
test_apps/contracts_app/chains.json
.idea
.vscode
.eslintrc.json
.embark/
NOTES
npm-debug.log
.tern-port
