// Form
$form-input-background-color: get-color(unique, white) !default;

$form-placeholder-color: get-color(gray, light) !default;

$form-legend-weight: $font-bold-weight !default;

$form-label-color: get-color(gray) !default;

$form-input-disabled-color: get-color(gray) !default;

$form-label-weight: $font-bold-weight !default;
