.login-container {
  color: $gray-900;
  box-shadow: 0px 5px 20px $gray-800;

  .login-layout-container-section {
    background: $gray-900;

    &:first-child {
      background: $white;
    }
  }
}
