.slider {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider:focus {
  outline: none;
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #bcbcbe;
  height: 20px;
  width: 10px;
  border-radius: 1px;
  background: #d0d0d0;
  cursor: pointer;
  margin-top: -6px;
}

.slider:active::-webkit-slider-thumb {
  background-color: #4e5b60;
  border: 1px solid #383739;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #bcbcbe;
  height: 20px;
  width: 10px;
  border-radius: 1px;
  background: #d0d0d0;
  cursor: pointer;
  margin-top: -6px;
}

.slider:active::-moz-range-thumb {
  background-color: #4e5b60;
  border: 1px solid #383739;
}

.slider::-ms-thumb {
  -webkit-appearance: none;
  border: 1px solid #bcbcbe;
  height: 20px;
  width: 10px;
  border-radius: 1px;
  background: #d0d0d0;
  cursor: pointer;
  margin-top: -6px;
}

.slider:active::-ms-thumb {
  background-color: #4e5b60;
  border: 1px solid #383739;
}

.slider::-webkit-slider-runnable-track {
  width: 99%;
  height: 8.4px;
  cursor: pointer;
  background: #236089;
  border-radius: 4px;
  border: 0.2px solid #010101;
}

.slider:active::-webkit-slider-runnable-track {
  background: #266d99;
}

.slider::-moz-range-track {
  width: 99%;
  height: 8.4px;
  cursor: pointer;
  background: #236089;
  border-radius: 4px;
  border: 0.2px solid #010101;
}

.slider::-ms-track {
  width: 99%;
  height: 8.4px;
  cursor: pointer;
  background: #236089;
  border-radius: 4px;
  border: 0.2px solid #010101;
}

