@import "bootstrap/variables";
@import "variables";

#root .search-bar input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  box-shadow: none;
  width: 245px;
  display: inline-block;
  border: 1px solid #c8ced3;
  border-right: 0;
}

#root .dark-theme .search-bar input {
  border: 0;
}

#root .search-bar .search-bar__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

@media(max-width:575px){
  #root .search-bar .search-bar__button {
    margin-bottom: 4px;
  }
}

.search-bar .search-loading {
  margin-top: 16px;
}

#root .search-error {
  position: sticky;
  margin: -#{$grid-gutter-width} -#{$grid-gutter-width} #{$grid-gutter-width} -#{$grid-gutter-width};
  top: $navbar-height;
  z-index: 3242;
  border-radius: 0;
  border: 0;
}
