.explorer-row + .explorer-row {
  margin-top: 5px;
  padding-top: 20px;
  border-top: 1px solid #c8ced3;
}

.dark-theme .explorer-row {
  border-top-color: #23282c;
}

.explorer-row .text-truncate {
  width: 90%;
  display: inline-block;
}
