.login-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-layout-container {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.login-layout-container-section {
  flex: 1;
  padding: 0.8em;
  background: #20a8d8;
  align-items: center;
  justify-content: center;
  order: 1;
}

.login-layout-container-section:first-child {
  background: white;
  padding: 3em;
  order: 2;
}

.logo {
  display: block;
  margin: 0 auto;
  max-height: 40px;
}

@media only screen and (min-width: 700px) {

  .login-layout-container {
    flex-direction: row;
  }

  .login-layout-container-section {
    padding: 3em;
  }

  .login-layout-container-section:first-child {
    order: 1;
  }

  .logo {
    max-height: 180px;
    margin-top: 3em;
  }
}

