.search-bar input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  outline: none;
}

.search-bar button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
