#root .search-bar input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  box-shadow: none;
  width: 245px;
  border: 1px solid #c8ced3;
  border-right: 0;
}

#root .dark-theme .search-bar input {
  border: 0;
}

#root .search-bar button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}
