.c-guide {
  overflow: auto;
  background: get-color(unique, white);

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: get-spacing-inset(m);
    border-bottom: $border-width solid $border-color;
  }

  &__body {
    overflow: auto;
    padding: get-spacing-inset(m);
  }

  a.is-active {
    font-weight: bold;
  }

  &.is-active {
    @include box-shadow();
  }
}

