.highlight {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 0;
  display: block;
  overflow: auto;

  &.hljs, .hljs {
    border-radius: 0.3em;
  }

  .hljs {
    margin-top: 0;
    margin-bottom: 0;
  }

  table {
    display: block;
    width: 100%;
    border: 0;
  }
  tbody,
  tr,
  td {
    display: block;
    padding: 0;
    border: 0;
  }
}

figure.highlight {
  margin-top: 0;
}
