.editor--grid {
  margin-left: -30px !important;
  margin-right: -30px !important;
  margin-top: -1.5rem !important;
}

.hidden-toogle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.text-editor__debuggerLine {
  opacity: 0.4;
  background-color: #20a8d8;
}

.text-editor-container {
  overflow: hidden;
}

.editor-aside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .editor-aside {
    position: relative;
  }

  .aside-opened .text-editor-container {
    max-height: 500px;
  }
}
