div {
  margin: 15px;
}

.logs {
  background-color: black;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.status-offline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.status-online {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  background: mediumseagreen;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

input.form-control {
  margin-right: 5px;
}

.alert-result {
  margin-left: 0;
}

.small-input {
  width: 200px;
}

.inline-input-btn .form-control {
  margin: 0;
  width: 200px;
  border-radius: 0.25rem 0 0 0.25rem;
  float: left;
  border-right: 0;
}

.inline-input-btn .btn {
  border-radius: 0 0.25rem 0.25rem 0;
}
