<html>
  <head>
    <title>Embark - SimpleStorage Demo</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/app/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/app/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/app/images/favicon-16x16.png">
    <link rel="manifest" href="images/app/images/site.webmanifest">
    <link rel="mask-icon" href="images/app/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="container">
      <div id="app">
      </div>
      <script src="js/dapp.js"></script>
  </body>
</html>
