.logs {
  margin: 10px 0;
  background-color: #333333;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
  color: white;
  padding: 10px;
  border-radius: .25rem;
  max-height: 350px;
  overflow: auto;
}
