.c-footer {
  padding: get-spacing-inset(m);
  background-image: url(../../assets/images/rocket-start.svg);
  background-position: bottom right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: get-color-layout(dark);

  @include breakpoint(l) {
    padding: get-spacing-inset(l);
  }

  &__top {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include breakpoint(m) {
      flex-direction: row;
    }

    &__title {
      margin-bottom: get-spacing-stack(m);
      margin-right: get-spacing-inline(l);

      @include breakpoint(m) {
        margin-bottom: 0;
      }
    }
  }
  &__body {
    margin-top: get-spacing-stack(m);
  }

  &__bottom {
    margin-top: get-spacing-stack(xl);
  }

  .two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .o-grid__column--1-1 {
    text-align: center;
  }

  @include breakpoint(s) {
    .o-grid__column--1-1 {
      text-align: left;
    }
  }
}
